<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="/static/calc_app/index.css"/>
    <script src="/static/calc_app/index.js"></script>


  </header>
  <body>
    <!-- <input type="text" name="cal_display" id="calc_display" size="10" value="0"> -->
    <h1>Manny's Calculator</h1>
    <div>
    <table>
    <tr><td colspan="5"><input type="text" name="cal_display" id="calc_display" value="0" ></td></tr>
    <tr>
    <td ><button class="keypad_button" onclick="update_display('&lpar;')">&lpar;</button></td>
    <td ><button class="keypad_button" onclick="update_display('&rpar;')">&rpar;</button></td>
    <td ><button class="keypad_button" onclick="percent('%')">%</button></td>
    <td class="empty_column"></td>
    <td ><button class="keypad_button" onclick="reset_display('AC')">AC </button></td>
    </tr>
    <tr>
    <td ><button class="keypad_button" onclick="update_display('7')">7</button></td>
    <td ><button class="keypad_button" onclick="update_display('8')">8</button></td>
    <td ><button class="keypad_button" onclick="update_display('9')">9</button></td>
    <td class="empty_column"></td>
    <td ><button class="keypad_button" onclick="update_display('/')">/ </button></td>
    </tr>
    <tr>
    <td ><button class="keypad_button" onclick="update_display('4')">4</button></td>
    <td ><button class="keypad_button" onclick="update_display('5')">5</button></td>
    <td ><button class="keypad_button" onclick="update_display('6')">6</button></td>
    <td class="empty_column"></td>
    <td ><button class="keypad_button" onclick="update_display('*')">*</button></td>
    </tr>
    <tr>
    <td ><button class="keypad_button" onclick="update_display('1')">1</button></td>
    <td ><button class="keypad_button" onclick="update_display('2')">2</button></td>
    <td ><button class="keypad_button" onclick="update_display('3')">3</button></td>
    <td class="empty_column"></td>
    <td ><button class="keypad_button" onclick="update_display('-')"> - </button></td>
    </tr>
    <tr>
    <td ><button class="keypad_button" onclick="update_display('0')">0</button></td>
    <td ><button class="keypad_button" onclick="update_display('.')">.</button></td>
    <td ><button class="keypad_button" onclick="calculate()">=</button></td>
    <td class="empty_column" ></td>
    <td ><button class="keypad_button" onclick="update_display('+')">+ </button></td>
    </tr>

    </table>
    </div>




  </body>
</html>
